#navbarNav {
	background-color: #000000;
}
    
.navbar-nav {
	margin-left: auto;
	align-items: center;
	align-content: center;
	background-color: #000000;
}

.navbar.bg-dark {
	background-color: black !important; 
}
  
.nav-link {
	font-size: 1.2rem;
	padding: 1rem;
}

.section {
	height: fit-content;
	padding-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: "Love Ya Like A Sister", cursive;
  	font-weight: 600;
  	font-style: normal;
  }

  #section_title {
	font-size: large;
  }
  
#tapa {
	background:  rgb(0, 0, 0);
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	align-items: center;
	text-align: center;
}

#tapa > div { 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#Sobre_la_obra {
	background:  rgb(255, 255, 255);
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	margin-top: 55px;
	align-items: center;
	text-align: center;
	min-height: 0vh;
}

#cabeza_pelada{
	margin-top:20%;
	margin-bottom:30%;
	align-self: center;
	align-items: center;
	max-height: 6cm;
}

#logo_pelada{
	margin-bottom:10%;
	align-self: center;
	align-items: center;
	max-height: 6cm;
}

#creadores{
	display: flex;
    flex-direction: row; 
    align-items: center;
	color: white;
	margin-top: 30px;
	margin-bottom: 20px;
}

#ficha{

	color: black;
	display: flex;
	flex-wrap: wrap;
    flex-direction:column; 
    justify-content: center;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#Hernan_Espinosa {
	background-color: #000000;
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	align-items: center;
	text-align: center;
	min-height: 0vh;
}

#Escenas {
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	align-items: center;
	text-align: left;
	min-height: 0vh;
}

#Reparto{
	display: flex;
	justify-content: center;
}

#fotos_elenco{

	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}


.thumbnail {
	box-sizing: border-box;
	position: relative; /* Makes the container a positioning context */
	overflow-clip-margin: content-box;
    overflow: clip;

}

.thumbnail img {
	max-width: 120px;
	height: auto;
	margin: 8px;
}
  

.thumbnail2 {
	box-sizing: border-box;
	position: relative; /* Makes the container a positioning context */
	overflow-clip-margin: content-box;
    overflow: clip;
}

.thumbnail2 img {
	max-width: 120px;
	height: fit-content;
	margin: 12px;
}

.thumbnail-label {
	position: absolute; /* Positions the label relative to the container */
	top: 5px; /* Adjust top position */
	left: 10px; /* Adjust left position */
	color: rgba(255, 255, 255, 0.7); /* Add a background for better visibility */
	padding: 5px; /* Add padding for spacing */
}

#Otras_obras{
	background-color: #990000;
	position: relative;
	height: fit-content;
	padding-top: 10%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Love Ya Like A Sister", cursive;
  	font-weight: 600;
  	font-style: normal;
	color: white;
}

#Otras_obras > div { 

    max-width: 80%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
	padding-bottom: 10%;
}

strong {
    font-weight: 900;
	font-size: larger;
}

strong2 {
    font-weight: 900;
}

light {
    font-weight: 500; 
}

.play_frame {
	max-width: 100px;
}

.transparent-button {
	background-color: transparent; /* Make the button transparent */
	border: 1px solid #ccc; /* Add a thin border */
	border-radius: 5px; /* Add rounded corners */
	padding: 10px 15px; /* Add padding for spacing */
	cursor: pointer; /* Change cursor to pointer on hover */
	display: flex; /* Use flexbox for vertical alignment */
	flex-direction: column; /* Stack elements vertically */
	align-items: center; /* Center elements horizontally */
	color: white;
	width: 70%;
	margin: 20px;
}
  
.transparent-button img {
	width: 90%; /* Adjust image width as needed */
	height: auto; /* Maintain aspect ratio */
	margin-top: 5px; /* Add spacing between text and image */
}

#myImage:focus + #messageBox,#myImage:active + #messageBox {
	display: block;
}

#messageBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Dark grey */
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  z-index: 9999; /* Ensure it's on top */
  animation: fadeOut 2s forwards; /* Animation for fading out */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  95% { opacity: 1; } /* Stay visible for 5 seconds */
  100% { opacity: 0; display: none; } /* Fade out and hide */
}

/* Optional: Add a pointer cursor to the image */
#myImage {
  cursor: pointer;
}
  
@media (max-width: 500px) {
	.navbar-nav {
	  margin: 0;
	}
	.nav-link {
	  padding: 0.5rem;
	}
	.card-title {
	  font-size: 1rem;
	}

	.card-body{
		min-height: 0px;
	}

    .display-4{
        font-size:45px;
    }
    .display-5{
        font-size:large;
    }
}
